<% include partials/admin-menu.ejs %>

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Dashboard</h5>
                                <p>Hello world!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<% include partials/footer.ejs %>